PUBLIC_CONTACT_EMAIL=
PUBLIC_LINKEDIN_URL=
PUBLIC_GITHUB_URL=
PUBLIC_NATIONAL_PARK_TRIP_PLANNER_URL=https://huggingface.co/spaces/Bkane56/national-park-trip-planner
PUBLIC_NATIONAL_PARK_TRIP_PLANNER_GITHUB_URL=https://github.com/Bkane56/national-park-trip-planner
